<nav class="navbar navbar-expand-lg navbar-light bg-warning ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Projeto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('sobre') }}">Sobre</a>
        </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Recibos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('gerarRecibo') }}">Gerar Recibos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('listarRecibos') }}">Todos os recibos</a></li>
              </ul>
            </li>
          {% else %}
          {% endif %}
      </ul>
      <ul class="d-flex navbar-nav">
        {% if current_user.is_authenticated %}
            <li class="nav-item active">
              <a href="{{ url_for('perfil') }}" class="nav-link activate">{{ current_user.nome }}</a>
            </li>
            <li class="nav-item active">
              <a href="{{ url_for('registros') }}" class="nav-link activate">Registros</a>
            </li>
            <li class="nav-item active">
              <a href="{{ url_for('sair') }}" class="nav-link activate">Sair</a>
            </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="{{ url_for('criarConta') }}">Criar Conta</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>