body {
  font-family: Arial, sans-serif;
}

#containerAssinatura {
  display: block;
}

.conteudo-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.conteudo-centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas-assinatura {
  border: solid 3px red;
  background-color: blue;
}
